@media (max-width: 930px) {
	.text-home {font-size: 20px;}
}
@media (max-width: 540px) {
	.menu li {
		font-size: 20px;
	}
}
@media (max-width: 490px) {
	.logo {display: none;}
	.header {justify-content: center; min-height: 10vh;}
}
@media (max-width: 390px) {
	.menu li {
		padding: 0 15px;
	}
}
@media (max-width: 345px) {
	.menu li {font-size: 17px;}
}

/**/

@media (max-width: 1000px) {
	.choose-type {width: 350px; height: 30vh;}
}
@media (max-width: 370px) {
	.choose-type {width: 270px; height: 25vh;}
}

/*blocks*/
@media (max-width: 415px) {
	.choose-one {
		width: 270px;
	}
}