.w-list {
	min-height: 84.5vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.w-item {
	margin: 10px;
	padding: 5px;
	width: 350px;
	height: 20vh;
	background-color: #000;
	border-radius: 30px;
	border: 2px solid #DEE1E6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.3s transform;
	cursor: pointer;
}
.w-item:hover {
	transform: scale(1.05);
}
.w-item h2 {
	font-size: 20px;
	text-transform: uppercase;
	color: #EBD98D;
	text-shadow: 0 0 10px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 30px;
}

.info {
	display: none;
}
.info-act {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.info p {
	width: 90%;
	text-align: center;
	font-size: 20px;
	padding: 15px 0;
	border-bottom: 3px solid rgba(0,0,0,0.5);
}
.info ul {
	padding-top: 20px;
	text-align: center;
	list-style: none;
	line-height: 25px;
	font-size: 18px;
}
.no-active {
	display: none;
}
.active {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 80%;
	height: 70vh;
	color: #000;
}
.active:hover {
	transform: none;
}




.m16a4 {
	background: url(../ar/m16a4.png);
	background-position: center;
	background-size: cover;
}
.m416 {
	background: url(../ar/m416.png);
	background-position: center;
	background-size: cover;
}
.akm {
	background: url(../ar/akm.png);
	background-position: center;
	background-size: cover;
}
.scar-l {
	background: url(../ar/scar-l.png);
	background-position: center;
	background-size: cover;
}
.m762 {
	background: url(../ar/m762.png);
	background-position: center;
	background-size: cover;
}
.qbz {
	background: url(../ar/qbz.png);
	background-position: center;
	background-size: cover;
}
.mk47_mutant {
	background: url(../ar/mk47_mutant.png);
	background-position: center;
	background-size: cover;
}
.aug_a3 {
	background: url(../ar/aug_a3.png);
	background-position: center;
	background-size: cover;
}
.groza {
	background: url(../ar/groza.png);
	background-position: center;
	background-size: cover;
}
/*---*/
.awm {
	background: url(../sniper/awm.png);
	background-position: center;
	background-size: cover;
}
.kar98k {
	background: url(../sniper/kar98k.png);
	background-position: center;
	background-size: cover;
}
.m24 {
	background: url(../sniper/m24.png);
	background-position: center;
	background-size: cover;
}
.vss {
	background: url(../sniper/vss.png);
	background-position: center;
	background-size: cover;
}
.win94 {
	background: url(../sniper/win94.png);
	background-position: center;
	background-size: cover;
}
/*---*/
.ump9 {
	background: url(../submachine/ump9.png);
	background-position: center;
	background-size: cover;
}
.vector {
	background: url(../submachine/vector.png);
	background-position: center;
	background-size: cover;
}
.tommy_gun {
	background: url(../submachine/tommy_gun.png);
	background-position: center;
	background-size: cover;
}
.micro_uzi {
	background: url(../submachine/micro_uzi.png);
	background-position: center;
	background-size: cover;
}
/*---*/
.mini14 {
	background: url(../dmr/mini14.png);
	background-position: center;
	background-size: cover;
}
.mk14 {
	background: url(../dmr/mk14.png);
	background-position: center;
	background-size: cover;
}
.sks {
	background: url(../dmr/sks.png);
	background-position: center;
	background-size: cover;
}
.qbu {
	background: url(../dmr/qbu.png);
	background-position: center;
	background-size: cover;
}
.slr {
	background: url(../dmr/slr.png);
	background-position: center;
	background-size: cover;
}
/*---*/
.m249 {
	background: url(../machine/m249.png);
	background-position: center;
	background-size: cover;
}
.dp28 {
	background: url(../machine/dp28.png);
	background-position: center;
	background-size: cover;
}
/*---*/
.s12k {
	background: url(../shotgun/s12k.png);
	background-position: center;
	background-size: cover;
}
.s1897 {
	background: url(../shotgun/s1897.png);
	background-position: center;
	background-size: cover;
}
.s686 {
	background: url(../shotgun/s686.png);
	background-position: center;
	background-size: cover;
}
.sawed_off {
	background: url(../shotgun/sawed_off.png);
	background-position: center;
	background-size: cover;
}
/*---*/
.p18c {
	background: url(../pistol/p18c.png);
	background-position: center;
	background-size: cover;
}
.p1911 {
	background: url(../pistol/p1911.png);
	background-position: center;
	background-size: cover;
}
.p92 {
	background: url(../pistol/p92.png);
	background-position: center;
	background-size: cover;
}
.r1895 {
	background: url(../pistol/r1895.png);
	background-position: center;
	background-size: cover;
}
.r45 {
	background: url(../pistol/r45.png);
	background-position: center;
	background-size: cover;
}
/*---*/
.crossbow {
	background: url(../crossbow/crossbow.png);
	background-position: center;
	background-size: cover;
}
/*---*/
.pan {
	background: url(../melee/pan.png);
	background-position: center;
	background-size: cover;
}
.crowbar {
	background: url(../melee/crowbar.png);
	background-position: center;
	background-size: cover;
}
.machete {
	background: url(../melee/machete.png);
	background-position: center;
	background-size: cover;
}
.sickle {
	background: url(../melee/sickle.png);
	background-position: center;
	background-size: cover;
}